<div class="surface-card p-4 shadow-2 border-round max-w-screen-lg mx-auto" style="position: relative;">
  <h2 class="text-2xl font-bold mb-4" style="border-bottom: 2px solid;
    padding: 10px;">Add/Manage Employee</h2>
  <div class="admin-new-employee"> <button pButton type="button" icon="pi pi-user-plus" (click)="showAddDialog()"
      class="p-button-secondary"></button></div>
  <form [formGroup]="adminForm" (ngSubmit)="submitForm()">
    <div class="grid formgrid p-fluid">

      <!-- Employee -->
      <div class="field col-12 md:col-4">
        <label for="employee">Employee</label>
        <p-dropdown formControlName="employee" [options]="employees" optionLabel="name"
          placeholder="Select Employee"></p-dropdown>
        <p-message *ngIf="isInvalid('employee')" severity="error" text="Employee is required"></p-message>
      </div>

      <!-- Team -->
      <div class="field col-12 md:col-4">
        <label for="team">Team</label>
        <p-dropdown formControlName="team" [options]="teams" optionLabel="name" placeholder="Select Team"></p-dropdown>
        <p-message *ngIf="isInvalid('team')" severity="error" text="Team is required"></p-message>
      </div>

      <!-- Role -->
      <div class="field col-12 md:col-4">
        <label for="role">Role</label>
        <p-dropdown formControlName="role" [options]="roles" optionLabel="name" placeholder="Select Role"></p-dropdown>
        <p-message *ngIf="isInvalid('role')" severity="error" text="Role is required"></p-message>
      </div>

      <!-- Joining -->
      <div class="field col-12 md:col-4">
        <label for="joiningDate">Joining Date</label>
        <p-calendar formControlName="joiningDate" dateFormat="dd/mm/yy" inputId="joiningDate" placeholder=""
          styleClass="w-full"></p-calendar>
        <p-message *ngIf="isInvalid('joiningDate')" severity="error" text="Joining Date is required"></p-message>
      </div>

      <!-- Email -->
      <div class="field col-12 md:col-4">
        <label for="email">Email</label>
        <input id="email" type="email" pInputText formControlName="email" />
        <p-message *ngIf="isInvalid('email')" severity="error" text="Valid email is required"></p-message>
      </div>

      <!-- Phone -->
      <div class="field col-12 md:col-4">
        <label for="phone">Phone</label>
        <input id="phone" type="text" pInputText formControlName="phone" />
        <p-message *ngIf="isInvalid('phone')" severity="error" text="Phone is required"></p-message>
      </div>

      <!-- Address -->
      <div class="field col-12">
        <label for="address">Address</label>
        <textarea id="address" pInputTextarea formControlName="address" rows="3"></textarea>
        <p-message *ngIf="isInvalid('address')" severity="error" text="Address is required"></p-message>
      </div>

    </div>

    <div class="text-right mt-4">
      <button pButton type="submit" label="Save" class="p-button-success" [disabled]="adminForm.invalid"></button>
    </div>
  </form>
</div>
<p-dialog header="Add New Employee" [(visible)]="showDialog" [modal]="true" [closable]="false">
  <div class="p-fluid mt-4">
    <div class="field">
      <input pInputText [(ngModel)]="newEmployeeName" placeholder="Enter name" />
    </div>
  </div>
  <div class="p-dialog-footer">
    <button pButton label="Cancel" class="p-button-text" (click)="cancelAddEmployee()"></button>
    <button pButton label="Add" [disabled]="!newEmployeeName" (click)="confirmAddEmployee()"></button>
  </div>
</p-dialog>