<div class="dashboard-shell">
  <header class="header">
    <div class="brand">
      <span class="header-text">OLP</span>
    </div>
    <!-- <div class="user-header">
      Hello, Sunny
      Have a great day
    </div> -->
    <button class="theme-toggle" (click)="toggleTheme()">
      <i class="pi" [ngClass]="isDarkMode ? 'pi-sun' : 'pi-moon'"></i>
    </button>
  </header>

  <div class="dashboard-layout">
    <nav class="sidebar">
      <ul>
        <li>
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/dashboard">
            <i class="pi pi-home"></i>
            <span class="menu-label">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/users">
            <i class="pi pi-users"></i>
            <span class="menu-label">Users</span>
          </a>
        </li>
         <li>
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/budget">
            <i class="pi pi-wallet"></i>
            <span class="menu-label">Budget</span>
          </a>
        </li>
         <li>
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/inventory">
            <i class="pi pi-warehouse"></i>
            <span class="menu-label">Inventory</span>
          </a>
        </li>
         <li>
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/team-assign">
            <i class="pi pi-clipboard"></i>
            <span class="menu-label">Team Assign</span>
          </a>
        </li>
          <li>
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/invoice">
            <i class="pi pi-receipt"></i>
            <span class="menu-label">Invoice</span>
          </a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/employees">
            <i class="pi pi-cloud"></i>
            <span class="menu-label">Employees</span>
          </a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/admin">
            <i class="pi pi-cog"></i>
            <span class="menu-label">Admin</span>
          </a>
        </li>
      </ul>
    </nav>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>